<div id="holding" class="bg">
  <div class="container">
    <div class="row justify-content-center align-items-center centerize" >
      <div class="col-xl-5 col-md-8 col-sm-10">
        <div class="form-inner">
          <div class="logo">
            <img src="assets/img/logo.jpg" class="nanilogo"/>
            <div class="form-title baslik">{{'reset_password' | translate}}</div>
        </div>
          <small [hidden]="token || successStatus">{{'enter_email_for_reset_password' | translate}}
            {{'sent_mail_for_reset_password_message' | translate}}
          </small>
          <small [hidden]="!token || successStatus">{{'click_button_for_reset_password_message' | translate}}</small>
          <div class="mt-2" *ngIf="!successStatus">
            <div >
              <form *ngIf="!token" #emailForm="ngForm" novalidate>
                <div class="form-group row mt-4">
                  <label for="email">{{'email' | translate}}</label>
                  <input type="text"
                         name="email"
                         id="email"
                         [(ngModel)]="user.email"
                         #userName="ngModel"
                         class="form-control form-control-sm"
                         [ngClass]="errorStatus && userName.invalid ? 'errorInput' : ''" required>
                  <div *ngIf="userName.invalid && errorStatus"
                       class="errorMessage">
                    {{'important_area' | translate}}
                  </div>
                  <button class="btn btn-block w-100 btn-naniblue" (click)="emailForm.invalid ? errorStatus = true : onSubmit('forgot')">{{'reset_my_password' | translate}}</button>
                </div>
                <div class="reset-password-alert">
                  <na-alert [message]="alertMessage" type="error" [show]="alertShow" (onClose)="alertShow = false;"></na-alert>
                </div>
              </form>
              <form *ngIf="token" (ngSubmit)="onSubmit('reset')" novalidate>
                <div class="form-group row">
                  <label for="password">{{'new_password' | translate}}</label>
                  <input type="password" name="password"
                         [(ngModel)]="reset.password"
                         class="form-control form-control-sm"
                         id="password">
                </div>
                <div class="form-group row">
                  <label for="rePassword">{{'new_password_confirmation' | translate}}</label>
                  <input type="password" name="repassword" [(ngModel)]="reset.confirm_password"
                         class="form-control form-control-sm" id="rePassword">
                  <button class="btn btn-naniblue btn-block w-100">{{'reset_password' | translate}}</button>
                </div>
                <div class="alert alert-danger" role="alert" [hidden]="!errorStatus">
                  {{'password_reset_error' | translate}}
                </div>
                <div class="alert alert-warning" role="alert" [hidden]="!passwordStatus">
                  {{'password_not_same' | translate}}
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12" *ngIf="successStatus">
            <div *ngIf="!token" class="row">
              <div  class="success-message message">{{'send_reset_link_success_message' | translate}}</div>
              <a role="button" [routerLink]="['/auth/login']" class="btn btn-block btn-naniblue m-k">{{'go_login_page_message' | translate}}</a>
            </div>
            <div *ngIf="token" class="row">
              <div class="success-message message">{{'reset_password_success_message' | translate}}</div>
              <a role="button" [routerLink]="['/auth/login']" class="btn btn-block btn-naniblue m-k">{{'go_login_page_message' | translate}}</a>
            </div>
          </div>
          <small>{{'connect_support' | translate}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
