@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#holding {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .centerize {
    min-height: 100vh;
  }
}

.form-inner {
  margin:auto;
  text-align: center;
  position: relative;
  padding: 20px 40px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(34, 34, 34, 0.13) 0 0 20px 10px;
  height: auto;
  .logo {
    margin: 10px auto;
    display: table;
  }
}
small {
  font-size: 13px;
  margin-bottom: 10px;
  a {
    color: #01abce;
  }
}

label {
  font-size: 13px;
  margin-bottom: 3px;
  font-family: -apple-system, "Segoe UI Web (East European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

button {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 273px;
}

a, span, label, input, h1, h2, h3, h4, h5, h6, button, li, p {
  font-family: 'Open Sans', sans-serif;
}

.nanilogo {
  margin: 10px auto 5px;
  display: block;
  height: 130px;
  width: 130px;
}

.input-group-text {
  background-color: white;
}

.input-group {
  margin-bottom: 20px;
}
.form-group {
  margin: auto;
  width: 70%;
  .form-control {
    height: 31px;
    font-size: 15px;
  }
}

.nanilogo {
  margin:8px auto 5px;
  display: block;
  height: 130px;
  width: 130px;
}
.m-k{
   margin: 0 auto 20px;
   height: 34px;
   width:251px;
   color: white;
 }
.bg {
  background-color: #e9ecef45
}

.baslik {
  color: #01abce;
  font-size: 20px;
  font-weight: 600;
}

.message{
  font-size:90%;
  font-weight:400;
  margin:41px auto 53px;

}

@media only screen and (min-width : 100px) and(max-width: 320px) {
  .form-inner {
    height: 319px;
    width: 305px;
  }
  .logo {
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 415px) and (max-width: 768px) {
  .form-inner {
    height: 319px;
    width: 305px;
  }
  .baslik {
    font-size: 17px;
  }
}

@media only screen and (min-width: 769px) {
  .form-inner {
    width: 450px;
    height: 550px;
  }
}

@media only screen and(max-width:767px) and(min-width:100px){
  .logo {
    img {
      display: none;
    }
  }
  small{
    font-size: 11px;
  }
  .btn-naniblue{
    font-size: 10px !important;
    height: 28px;
  }
  .form-group{
  .form-control{
    height: 28px;
  }
  }
  label{
    font-size:10px;
  }
  .form-inner{
    line-height: 14px;
  }
}



