/**
Colors definitions
*/
$dirty-purple: #4d394b;
$demorized-purple: rgb(56,45,57);
$vibrant-green: #00c900;
$green-apple: #53bb20;
$blue-fish: rgb(0, 112, 167);
$font-family: "Segoe UI Web (East European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$vodafone-red: #c21e07;
$boom-purple: rgb(162, 116, 158);
