/*Main CSS File*/
@import "assets/sass/styles.scss";
@import "assets/sass/na-confirm-alert.scss";
@import "assets/sass/auth.scss";
@import "assets/sass/na-loading.scss";

.d-inline-grid {
  display: inline-grid !important;
}

.f-size-11 {
  font-size: 11px !important;
}

.f-size-12 {
  font-size: 12px !important;
}

.f-size-13 {
  font-size: 13px !important;
}

.f-size-14 {
  font-size: 14px !important;
}
